$font-family_1: "Roboto", sans-serif;
$font-family_2: "Raleway", sans-serif;
$font-weight: 700;
$font-size: 14px;
$line-height: 1.14;
$letter-spacing: 0.03em;
$color-black: #212121;
$color-white: #ffffff;
$color-light-blue: #2196f3;
$color-light-grey: #f5f4fa;
$color-medium-grey: #757575;
$color-dark-grey: #2f303a;
$border-color_1: $color-light-blue;
$transition: cubic-bezier(0.4, 0, 0.2, 1);
